bin/synapses.json
.vscode/launch.json
.vscode/tags
.vscode/
passwords.txt
answers/
html/js/bootstrap
html/css/bootstrap
html/backup
bin/main.ini
bin/log/*
!bin/log/sample.log
/bin/questions.txt
/bin/backup
/bin/__pycache__
/bin/MNIST_data
/.vscode
bin/test.py
.vscode/
bin/__pycache__/
*.pyc
.directory
main.ini
SERVERINTERACT.odg