/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.heading1 {
    margin-top:40px;
    margin-bottom: 0;
    color: #000000;
    font-size: 50px;
    padding:0;
    font-family: "Arial";
}
.secondheading{
    padding:0;
    margin-left:0px;
    margin-top:0px;
    font-size:40px;
    font-family: "Arial";
    
    
}
.inputs{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.input1{
    margin-left: 1px;
}
.input2{
    margin-left: 40px;


}
/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}
.marksnumber{
    position: absolute;
    text-align: right;
    margin-left:100px;
    margin-right: 100px;
    border-bottom: 1px solid #FF0000;
}
.container {
    width: 50%;
    height:97%; 
    float:right;

}
h3 {
    text-align: center;
}