/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.h1 {
    margin-top:40px;
    margin-bottom: 0;
    color: #000000;
    font-size: 50;
    padding:0;
    font-family: "Arial";
}
.h11{
    padding:0;
    margin-left:0px;
    margin-top:0px;
    font-size:50;
    font-family: "Arial";
    
    
}
/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}